
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>cs:go jackpot</title>
    <link rel='stylesheet' href='/vendor/sweetalert/dist/sweetalert.css' />
    <link rel='stylesheet' href='/vendor/bootstrap/dist/css/bootstrap.min.css' />
    <link href="/stylesheets/style.css" rel="stylesheet">

  </head>
  <body ng-app="jackpot">
    <!-- <% if (!user) { %>
			<h2>Welcome! Please log in.</h2>
		<% } else { %>
			<h2>Hello, <%= user.displayName %>. - <a href='logout'>Logout</a></h2>
		<% } %> -->
		<div id="main">
      <div ui-view></div>
    </div>

		<!-- Should redirect to homepage if you're not logged in -->
		<p><a href="account">See Account Information</a></p>

    <script src="/vendor/jquery/dist/jquery.min.js"></script>
    <script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/vendor/angular/angular.min.js"></script>
		<script src="./vendor/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="/vendor/sweetalert/dist/sweetalert.min.js"></script>
		<script src="./js/module.js"></script>
    <script src="./js/config.js"></script>
    <script src="./js/controllers/home.js"></script>
  </body>
</html>
